.layout {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
}

.infoStack {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  width: 100%;
}

.titleRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titleSet {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
}

.projectDescription {
  color: var(--color-muted);
}

.descriptionRow {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-sm);
  color: var(--color-muted);
}

.projectYear {
  color: var(--color-muted);
}

.placeholderIcon {
  height: 50px;
  width: 50px;
  opacity: 0.2;
  background-color: var(--color-muted);
  border-radius: 20%;
}
