.hero {
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-lg);
}

.heroPainting {
  background: coral;
}

.heroAbout {
  background: gold;
}

.body {
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
  align-items: start;
}

.toc {
  position: sticky;
  top: var(--spacing-lg);
  background: cornflowerblue;
}

.content {
  background: lightgreen;
  font-size: var(--text-md);
}
